<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-lg-3 col-sm-12 text-center">
          <img src="assets/vendors/onetech/images/best_1.png" class="img-thumbnail rounded-circle" alt="">          
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <h4>Nama User</h4>
              <br>
              <p>Email here</p>
              <p>085123456xxx</p>
            </div>
            <div class="col text-right">
              <a name="" id="" class="btn btn-info" href="#" role="button">Lihat Toko</a>          
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a name="" id="" class="btn btn-sm btn-outline-secondary text-center" href="#" role="button">Ubah Profil</a>
      </div>
      <hr>
      <div>
        <h5 class="text-center">Keterangan</h5>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa vero odio neque voluptas. Nostrum cupiditate tempore quas? Nisi alias quo illo cupiditate qui reprehenderit suscipit quaerat distinctio, vero ipsa quis.
        </p>
      </div>
    </div>
  </div>
</div>
