<div class="container">
  <div class="row justify-content-between">
    <div class="col-lg-2">     
      <div class="nav flex-column nav-pills">
        <a class="nav-link active" routerLink="/usaha/1">Profil</a>                
        <a class="nav-link" routerLink="/produkusaha/1">Produk</a>
        <a class="nav-link" routerLink="/penjualan/1">Penjualan</a>
        <a class="nav-link" routerLink="/statistik/1">Statistik</a>
        <a class="nav-link" routerLink="/ulasan/1">Ulasan</a>
        <a class="nav-link" routerLink="/rekening/1">Rekening</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-sm-12 text-center">
              <img src="assets/vendors/onetech/images/best_1.png" class="img-thumbnail rounded-circle" alt="">          
            </div>
            <div class="col">
              <div class="row">
                <div class="col-lg-9">
                  <h4>Nama Toko</h4>
                  <p class="lead">Habis Gelap Terbitlah Remeng-remeng</p>
                  <h5>085123456xxx</h5>
                </div>
                <div class="col text-right">
                  <a name="" id="" class="btn btn-info" href="#" role="button">Lihat Barang</a>          
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div>
            <h5 class="text-center">Deskripsi Toko</h5>
            <p class="lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa vero odio neque voluptas. Nostrum cupiditate tempore quas? Nisi alias quo illo cupiditate qui reprehenderit suscipit quaerat distinctio, vero ipsa quis.
            </p>
            <div class="row justify-content-center">
              <div class="col-lg-8 col-sm-12">
                <img class="card-img" src="assets/images/gmap.jpg" alt="">          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>