<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-sm-12">
      <div class="card">
        <div class="card-body text-center">
          <img src="assets/images/shop_icon.png" class="img-thumbnail card-img" alt="" style="width: 100px">
          <div>
            <h4 class="card-title">Informasi Usaha</h4>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="" id="" placeholder="Nama...">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="" id="" placeholder="Slogan...">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="" id="" placeholder="Nomor Telepon...">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="" id="" rows="3" placeholder="Deskripsi..."></textarea>
          </div>
          <br>
          <div class="form-group">
            <label for="product_image">Upload Logo Usaha</label>
            <input type="file" name="" class = "form-control-file" id="">
          </div>
          <br>
          <div>
            <img src="assets/images/gmap.jpg" class="img-fluid" alt="">
          </div>
          <br>
          <hr>
          <a name="" id="" class="btn btn-lg btn-block btn-primary" href="#" role="button">Selesai</a>
        </div>
      </div>
    </div>
  </div>
</div>