<div class="container">
  <div class="row justify-content-between">
    <div class="col-lg-2">     
      <div class="nav flex-column nav-pills">
        <a class="nav-link" href="#">Profil</a>                
        <a class="nav-link" href="#">Produk</a>
        <a class="nav-link" href="#">Penjualan</a>
        <a class="nav-link" href="#">Statistik</a>
        <a class="nav-link active" href="#">Ulasan</a>
        <a class="nav-link" href="#">Rekening</a>
      </div>
    </div>
    <div class="col">
      <div class="row justify-content-center">
        <div class="col">
          <h2 class="text-center">Ulasan</h2>
          <div class="card">
            <div class="row card-body">
              <div class="col-lg-2">
                <img src="assets/vendors/onetech/images/best_1.png" class="img-thumbnail rounded-circle" alt="">
              </div>
              <div class="col">
                <p class="lead">
                  Nama Pengguna
                </p>
                <section class='rating-widget'>
                  <!-- Rating Stars Box -->
                  <div class='rating-stars text-left'>
                    <ul id='stars'>
                      <li class='star' title='Poor' data-value='1'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Fair' data-value='2'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Good' data-value='3'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Excellent' data-value='4'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='WOW!!!' data-value='5'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                    </ul>
                  </div>
                  
                  <!-- <div class='success-box'>
                    <div class='clearfix'></div>
                    <img alt='tick image' width='32' src='https://i.imgur.com/3C3apOp.png'/>
                    <div class='text-message'></div>
                    <div class='clearfix'></div>
                  </div> -->
                </section>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam suscipit fugiat id a, voluptatibus incidunt labore dignissimos quo ut in sed possimus laudantium odio. Necessitatibus reiciendis distinctio repellendus! Suscipit, possimus.</p>
                <br>
              </div>
            </div>
            <div class="card-footer text-muted">
              2 Hari yang lalu
            </div>
          </div>
          <br>
          <div class="card">
            <div class="row card-body">
              <div class="col-lg-2">
                <img src="assets/vendors/onetech/images/best_1.png" class="img-thumbnail rounded-circle" alt="">
              </div>
              <div class="col">
                <p class="lead">
                  Nama Pengguna
                </p>
                <section class='rating-widget'>
                  <!-- Rating Stars Box -->
                  <div class='rating-stars text-left'>
                    <ul id='stars'>
                      <li class='star' title='Poor' data-value='1'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Fair' data-value='2'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Good' data-value='3'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Excellent' data-value='4'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='WOW!!!' data-value='5'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                    </ul>
                  </div>
                  
                  <!-- <div class='success-box'>
                    <div class='clearfix'></div>
                    <img alt='tick image' width='32' src='https://i.imgur.com/3C3apOp.png'/>
                    <div class='text-message'></div>
                    <div class='clearfix'></div>
                  </div> -->
                </section>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam suscipit fugiat id a, voluptatibus incidunt labore dignissimos quo ut in sed possimus laudantium odio. Necessitatibus reiciendis distinctio repellendus! Suscipit, possimus.</p>
                <br>
              </div>
            </div>
            <div class="card-footer text-muted">
              2 Hari yang lalu
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>