<div class="container">
  <div class="card-group">
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Lokasi Tujuan</h4>
        <br>
        <img class="card-img" src="assets/images/gmap.jpg" alt="">
        <br>
        <br>
        <textarea class="form-control" name="Keterangan" id="Keterangan" rows="3" placeholder="Keterangan Alamat Anda..."></textarea>
        <br>
        <a name="" id="" class="btn btn-info" href="#" role="button">Konfirmasi</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <h4 class="card-title">Pilih Kurir</h4>
        <br>
        <div class="row text-center">
          <div class="col">
            <img src="assets/images/JNE.jpg" class="img-thumbnail rounded-circle" alt="">
            <br>
            <br>
            <a name="" id="" class="btn btn-sm btn-outline-primary" href="#" role="button">Pilih</a>
          </div>
          <div class="col">
            <img src="assets/images/JNE.jpg" class="img-thumbnail rounded-circle" alt="">
            <br>
            <br>
            <a name="" id="" class="btn btn-primary btn-sm btn-outline-primary" href="#" role="button">Pilih</a>
          </div>
          <div class="col">
            <img src="assets/images/JNE.jpg" class="img-thumbnail rounded-circle" alt="">
            <br>
            <br>
            <a name="" id="" class="btn btn-primary btn-sm btn-outline-primary" href="#" role="button">Pilih</a>
          </div>
        </div>
        <br>
        <hr>
        <h5>Harga Ongkir</h5>
        <p class="lead">
            Rp.500.000
        </p>
        <a name="" id="" class="btn btn-info" href="#" role="button">Ongkir</a>
      </div>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <a name="" id="" class="btn btn-lg btn-primary" routerLink="/profilusaha/1" role="button">Lanjutkan</a>
    </div>
  </div>
</div>