<div class="container">
  <div class="row justify-content-between">
    <div class="col-lg-2">     
      <div class="nav flex-column nav-pills">
        <a class="nav-link" routerLink="/usaha/1">Profil</a>                
        <a class="nav-link" routerLink="/produkusaha/1">Produk</a>
        <a class="nav-link" routerLink="/penjualan/1">Penjualan</a>
        <a class="nav-link" routerLink="/statistik/1">Statistik</a>
        <a class="nav-link" routerLink="/ulasan/1">Ulasan</a>
        <a class="nav-link active" routerLink="/rekening/1">Rekening</a>
      </div>
    </div>
    <div class="col">
      <h2>Rekening</h2>
      <hr>      
      <a name="" id="" class="btn btn-sm btn-primary" href="#" role="button">Tambah Rekening</a>
      <br>
      <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Bank</th>
            <th>Atas nama</th>
            <th>Nomor Rekening</th>
            <th>Aksi</th>              
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>BRI</td>
            <td>Daffa Akbar</td>
            <td>985xxxxxxxxx</td>
            <td class="text-center"><a name="" id="" class="btn btn-danger btn-sm" href="#" role="button">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>