<div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-2">     
        <div class="nav flex-column nav-pills">
          <a class="nav-link" href="#">Profil</a>                
          <a class="nav-link" href="#">Produk</a>
          <a class="nav-link" href="#">Penjualan</a>
          <a class="nav-link" href="#">Statistik</a>
          <a class="nav-link" href="#">Ulasan</a>
          <a class="nav-link active" href="#">Rekening</a>
        </div>
      </div>
      <div class="col">
        <a name="" id="" class="btn btn-sm btn-primary" href="#" role="button">Tambah Rekening</a>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>No</th>
              <th>Bank</th>
              <th>Atas nama</th>
              <th>Nomor Rekening</th>
              <th>Aksi</th>              
            </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>BRI</td>
                <td>Daffa Akbar</td>
                <td>985xxxxxxxxx</td>
                <td><a name="" id="" class="btn btn-danger btn-sm" href="#" role="button">Delete</a></td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>