<div class="container">
  <br>
  <div class= "row justify-content-between">
    <div class="col-lg-2">
      <h4>Categories</h4>
      <hr>       
      <div class="nav flex-column nav-pills">
        <a class="nav-link active" href="#">Alat Tulis</a>
        <a class="nav-link" href="#">Sembako</a>
        <a class="nav-link" href="#">Makanan</a>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row align-items-end">
        <div class="col-auto mr-auto text-left">
          <p>100 produk ditemukan</p>
        </div>
        <div class="col-auto">
          <div class="main_nav_menu ml-auto">
            <ul class="standard_dropdown main_nav_dropdown">
              <li class="hassubs">
                <a href="#">Urut berdasarkan<i class="fas fa-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Nama<i class="fas fa-chevron-down"></i></a></li>
                  <li><a href="#">Tanggal Keluar<i class="fas fa-chevron-down"></i></a></li>
                  <li><a href="#">Harga<i class="fas fa-chevron-down"></i></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div> 
      <!-- Product Panel -->
      <div class="product_panel panel active">
        <div class="arrivals_slider slider">
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/buku1.jpg" alt=""></div>
              <div class="product_content">
                <!-- <div class="product_price discount">$225<span>$300</span></div> -->
                <div class="product_price">Rp.4500</div>                  
                <div class="product_name"><div><a routerLink="/produk/1">Buku catatan</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount">-25%</li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/beras1.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.9450</div>
                <div class="product_name"><div><a routerLink="/produk/1">Beras Cap Tiga Jambu</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button active"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount"></li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/pensil1.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.13000</div>
                <div class="product_name"><div><a routerLink="/produk/1">PILOT Pensil Mekanik H-165 0.5</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount"></li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/buku2.jpg" alt=""></div>
              <div class="product_content">
                <!-- <div class="product_price discount">$225<span>$300</span></div> -->
                <div class="product_price">Rp.9450</div>                  
                <div class="product_name"><div><a routerLink="/produk/1">Buku Sinar Dunia 38 Lembar</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount">-25%</li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/pensil2.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.10000</div>
                <div class="product_name"><div><a routerLink="/produk/1">Pensil Warna</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount"></li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/beras3.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.9450</div>
                <div class="product_name"><div><a routerLink="/produk/1">Beras Cap Capit</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount"></li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/beras2.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.9450</div>
                <div class="product_name"><div><a routerLink="/produk/1">Beras Persada GoldRice</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount">-25%</li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/gula1.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.8000</div>
                <div class="product_name"><div><a routerLink="/produk/1">Gula Bosgul</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount"></li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/buku1.jpg" alt=""></div>
              <div class="product_content">
                <!-- <div class="product_price discount">$225<span>$300</span></div> -->
                <div class="product_price">Rp.4500</div>                  
                <div class="product_name"><div><a routerLink="/produk/1">Buku catatan</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount">-25%</li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/beras1.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.9450</div>
                <div class="product_name"><div><a routerLink="/produk/1">Beras Cap Tiga Jambu</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button active"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount"></li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/pensil1.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.13000</div>
                <div class="product_name"><div><a routerLink="/produk/1">PILOT Pensil Mekanik H-165 0.5</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount"></li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/buku2.jpg" alt=""></div>
              <div class="product_content">
                <!-- <div class="product_price discount">$225<span>$300</span></div> -->
                <div class="product_price">Rp.9450</div>                  
                <div class="product_name"><div><a routerLink="/produk/1">Buku Sinar Dunia 38 Lembar</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount">-25%</li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/pensil2.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.10000</div>
                <div class="product_name"><div><a routerLink="/produk/1">Pensil Warna</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount"></li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/beras3.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.9450</div>
                <div class="product_name"><div><a routerLink="/produk/1">Beras Cap Capit</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount"></li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/beras2.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.9450</div>
                <div class="product_name"><div><a routerLink="/produk/1">Beras Persada GoldRice</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount">-25%</li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
          <!-- Slider Item -->
          <div class="featured_slider_item">
            <div class="border_active"></div>
            <div class="product_item d-flex flex-column align-items-center justify-content-center text-center">
              <div class="product_image d-flex flex-column align-items-center justify-content-center"><img class="smallimage" src="assets/images/produk/gula1.jpg" alt=""></div>
              <div class="product_content">
                <div class="product_price">Rp.8000</div>
                <div class="product_name"><div><a routerLink="/produk/1">Gula Bosgul</a></div></div>
                <div class="product_extras">
                  <button class="product_cart_button"><a class="AddtoCardText" routerLink="/keranjang/1">Add to Cart</a></button>
                </div>
              </div>
              <!-- <ul class="product_marks">
                <li class="product_mark product_discount"></li>
                <li class="product_mark product_new">new</li>
              </ul> -->
            </div>
          </div>
          
        </div>
        <div class="arrivals_slider_dots_cover"></div>
      </div>
      
    </div>        
  </div>
</div>