<div class="container">
  <div>
    <h2>Keranjang</h2>
    <hr>
    <div>
      <div class="card">
        <h4 class="card-header">Toko A</h4>        
        <div class="card-body">
          <table class="table table-bordered table-sm" style="text-align: center">
            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col">Nama</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Harga</th>
                <th scope="col">Total</th>                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle"><img src="assets/vendors/onetech/images/shopping_cart.jpg"></td>
                <td class="align-middle">Barang A</td>
                <td class="align-middle">5</td>
                <td class="align-middle">5000</td>
                <td class="align-middle">25000</td>                                            
              </tr>
              <tr>
                <td class="align-middle"><img src="assets/vendors/onetech/images/shopping_cart.jpg"></td>
                <td class="align-middle">Barang B</td>
                <td class="align-middle">5</td>
                <td class="align-middle">5000</td>
                <td class="align-middle">25000</td>                                            
              </tr>
            </tbody>
          </table>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th class="text-left"> <a routerLink="/konfirmasi/1" class="btn btn-primary btn-lg">Konfirmasi</a></th>
                  <th class="text-right align-middle"> Total: 50000</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="card">
        <h4 class="card-header">Toko B</h4>        
        <div class="card-body">
          <table class="table table-bordered table-sm" style="text-align: center">
            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col">Nama</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Harga</th>
                <th scope="col">Total</th>                
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle"><img src="assets/vendors/onetech/images/shopping_cart.jpg"></td>
                <td class="align-middle">Barang A</td>
                <td class="align-middle">5</td>
                <td class="align-middle">5000</td>
                <td class="align-middle">25000</td>                                            
              </tr>
            </tbody>
          </table>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th class="text-left"> <a routerLink="/konfirmasi/1" class="btn btn-primary btn-lg">Konfirmasi</a></th>
                  <th class="text-right align-middle"> Total: 25000</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
