<div class="container">
  <div>
    <h2>Keranjang</h2>
    <hr>
    <div>
      <div class="card">
        <h4 class="card-header">Toko A</h4>
        <div class="card-body">
          <table class="table table-bordered table-sm" style="text-align: center">
            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col">Nama</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Harga</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle">
                  <img class="smallimage" src="assets/images/produk/buku1.jpg">
                </td>
                <td class="align-middle">Buku catatan</td>
                <td class="align-middle">5</td>
                <td class="align-middle">4500</td>
                <td class="align-middle">22500</td>
              </tr>
              <tr>
                <td class="align-middle">
                  <img class="smallimage" src="assets/images/produk/pensil1.jpg">
                </td>
                <td class="align-middle">PILOT Pensil Mekanik H-165 0.5</td>
                <td class="align-middle">1</td>
                <td class="align-middle">13000</td>
                <td class="align-middle">13000</td>
              </tr>
            </tbody>
          </table>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th class="text-left">
                    <a routerLink="/konfirmasi/1" class="btn btn-primary btn-lg">Konfirmasi</a>
                  </th>
                  <th class="text-right align-middle"> Total: 35500</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div>
      <div class="card">
        <h4 class="card-header">Toko B</h4>
        <div class="card-body">
          <table class="table table-bordered table-sm" style="text-align: center">
            <thead>
              <tr>
                <th scope="col"> </th>
                <th scope="col">Nama</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Harga</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="align-middle">
                  <img class="smallimage" src="assets/images/produk/pensil2.jpg">
                </td>
                <td class="align-middle">Pensil Warna</td>
                <td class="align-middle">2</td>
                <td class="align-middle">10000</td>
                <td class="align-middle">20000</td>
              </tr>
            </tbody>
          </table>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th class="text-left">
                    <a routerLink="/konfirmasi/1" class="btn btn-primary btn-lg">Konfirmasi</a>
                  </th>
                  <th class="text-right align-middle"> Total: 20000</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>