<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-6 col-sm-12 text-center align-middle">
            <div class="card ">
                <div class="card-body">
                    <img class="mediumimage rounded-top" src="assets/images/produk/pensil2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col">
            <small class="text-muted">Alat Tulis</small>
            <br>
            <div class="row">
                <div class="col">
                    <h2>Pensil Warna</h2>
                </div>
                <div class="col text-right">
                    <div class="dropdown">
                        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Detail Penjual
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="text-center">
                                Informasi Penjual
                                <hr>
                                <img src="assets/vendors/onetech/images/best_1.png" class="img-thumbnail rounded-circle" alt="">
                                <p class="lead">
                                    Nama Toko
                                </p>
                                <a name="" id="" class="btn btn-primary" routerLink="/profilusaha/1" role="button">Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis porro recusandae fugiat, consequuntur voluptatem
                unde maiores dolor deserunt! Facilis, vitae perspiciatis! Labore cupiditate vitae repudiandae tempora magnam
                ratione ex molestias.</p>
            <br>
            <h4>Rp.10.000</h4>
            <br>
            <form>
                <div class="form-row align-items-end">
                    <div class="col-lg-4">
                        <label for="Jumlah" class="col-sm-2 col-form-label">Jumlah</label>
                        <div class="col-sm-10">
                            <input type="number" id="jumlah" min="1" max="9" class="form-control form-control-sm" value="1">
                        </div>
                    </div>
                    <div class="col">
                        <a name="" id="" class="btn btn-primary btn-lg" href="#" role="button">Tambah ke keranjang</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="text-center">
            <h3>Berikan Ulasan</h3>
            <br>
            <section class='rating-widget'>
                <!-- Rating Stars Box -->
                <div class='rating-stars text-center'>
                    <ul id='stars'>
                        <li class='star' title='Poor' data-value='1'>
                            <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Fair' data-value='2'>
                            <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Good' data-value='3'>
                            <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='Excellent' data-value='4'>
                            <i class='fa fa-star fa-fw'></i>
                        </li>
                        <li class='star' title='WOW!!!' data-value='5'>
                            <i class='fa fa-star fa-fw'></i>
                        </li>
                    </ul>
                </div>

                <!-- <div class='success-box'>
                    <div class='clearfix'></div>
                    <img alt='tick image' width='32' src='https://i.imgur.com/3C3apOp.png'/>
                    <div class='text-message'></div>
                    <div class='clearfix'></div>
                </div> -->
            </section>
            <br>
            <div class="form-group">
                <label for="Ulasan">
                    <h4>Ulasan Anda</h4>
                </label>
                <textarea class="form-control" name="Ulasan" placeholder="Ulasan Anda..." id="Ulasan" rows="3"></textarea>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="card">
            <div class="row card-body">
                <div class="col-lg-2">
                    <img src="assets/vendors/onetech/images/best_1.png" class="img-thumbnail rounded-circle" alt="">
                </div>
                <div class="col">
                    <p class="lead">
                        Nama Pengguna
                    </p>
                    <section class='rating-widget'>
                        <!-- Rating Stars Box -->
                        <div class='rating-stars text-left'>
                            <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                            </ul>
                        </div>

                        <!-- <div class='success-box'>
                            <div class='clearfix'></div>
                            <img alt='tick image' width='32' src='https://i.imgur.com/3C3apOp.png'/>
                            <div class='text-message'></div>
                            <div class='clearfix'></div>
                        </div> -->
                    </section>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam suscipit fugiat id a, voluptatibus incidunt
                        labore dignissimos quo ut in sed possimus laudantium odio. Necessitatibus reiciendis distinctio repellendus!
                        Suscipit, possimus.</p>
                    <br>
                </div>
            </div>
            <div class="card-footer text-muted">
                2 Hari yang lalu
            </div>
        </div>
        <br>
        <div class="card">
            <div class="row card-body">
                <div class="col-lg-2">
                    <img src="assets/vendors/onetech/images/best_1.png" class="img-thumbnail rounded-circle" alt="">
                </div>
                <div class="col">
                    <p class="lead">
                        Nama Pengguna
                    </p>
                    <section class='rating-widget'>
                        <!-- Rating Stars Box -->
                        <div class='rating-stars text-left'>
                            <ul id='stars'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                            </ul>
                        </div>

                        <!-- <div class='success-box'>
                            <div class='clearfix'></div>
                            <img alt='tick image' width='32' src='https://i.imgur.com/3C3apOp.png'/>
                            <div class='text-message'></div>
                            <div class='clearfix'></div>
                        </div> -->
                    </section>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam suscipit fugiat id a, voluptatibus
                            incidunt labore dignissimos quo ut in sed possimus laudantium odio. Necessitatibus reiciendis
                            distinctio repellendus! Suscipit, possimus.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                2 Hari yang lalu
            </div>
        </div>
    </div>
</div>