<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-sm-12 text-center">
          <img src="assets/vendors/onetech/images/best_1.png" class="img-thumbnail rounded-circle" alt="">          
        </div>
        <div class="col">
          <div class="row">
            <div class="col-lg-9">
              <h4>Nama Toko</h4>
              <p class="lead">Habis Gelap Terbitlah Remeng-remeng</p>
              <h5>085123456xxx</h5>
            </div>
            <div class="col text-right">
              <a name="" id="" class="btn btn-info" href="#" role="button">Lihat Barang</a>          
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <h5 class="text-center">Deskripsi Toko</h5>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa vero odio neque voluptas. Nostrum cupiditate tempore quas? Nisi alias quo illo cupiditate qui reprehenderit suscipit quaerat distinctio, vero ipsa quis.
        </p>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-sm-12">
            <img class="card-img" src="assets/images/gmap.jpg" alt="">          
          </div>
        </div>
      </div>
      <hr>
      <div>
        <div class="row">
          <div class="col text-center">
            <p class="lead">
              Bank
            </p>
            <br>
            <p>09854xxxxx</p>       
          </div>
          <div class="col text-center">
            <p class="lead">
              Bank
            </p>
            <br>
            <p>09854xxxxx</p>       
          </div>
        </div>
      </div>
      <hr>
      <div>
        <div class="text-center">
          <h3>Berikan Ulasan</h3>
          <br>
          <section class='rating-widget'>
            <!-- Rating Stars Box -->
            <div class='rating-stars text-center'>
              <ul id='stars'>
                <li class='star' title='Poor' data-value='1'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='WOW!!!' data-value='5'>
                  <i class='fa fa-star fa-fw'></i>
                </li>
              </ul>
            </div>
            
            <!-- <div class='success-box'>
              <div class='clearfix'></div>
              <img alt='tick image' width='32' src='https://i.imgur.com/3C3apOp.png'/>
              <div class='text-message'></div>
              <div class='clearfix'></div>
            </div> -->
          </section>
          <br>
          <div class="form-group">
            <label for="Ulasan"><h4>Ulasan Anda</h4></label>
            <textarea class="form-control" name="Ulasan" placeholder="Ulasan Anda..." id="Ulasan" rows="3"></textarea>
          </div>
        </div>
        <hr>
        <div>
          <div class="card">
            <div class="row card-body">
              <div class="col-lg-2">
                <img src="assets/vendors/onetech/images/best_1.png" class="img-thumbnail rounded-circle" alt="">
              </div>
              <div class="col">
                <p class="lead">
                  Nama Pengguna
                </p>
                <section class='rating-widget'>
                  <!-- Rating Stars Box -->
                  <div class='rating-stars text-left'>
                    <ul id='stars'>
                      <li class='star' title='Poor' data-value='1'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Fair' data-value='2'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Good' data-value='3'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='Excellent' data-value='4'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                      <li class='star' title='WOW!!!' data-value='5'>
                        <i class='fa fa-star fa-fw'></i>
                      </li>
                    </ul>
                  </div>
                  
                  <!-- <div class='success-box'>
                    <div class='clearfix'></div>
                    <img alt='tick image' width='32' src='https://i.imgur.com/3C3apOp.png'/>
                    <div class='text-message'></div>
                    <div class='clearfix'></div>
                  </div> -->
                </section>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam suscipit fugiat id a, voluptatibus incidunt labore dignissimos quo ut in sed possimus laudantium odio. Necessitatibus reiciendis distinctio repellendus! Suscipit, possimus.</p>
                <br>
              </div>
            </div>
            <div class="card-footer text-muted">
              2 Hari yang lalu
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
