<div class="container">
  <div>
    <h2>Pembelian</h2>
    <hr>
    <div>
      <div class="row">
        <div class="col">
          <h4>Toko A</h4>
        </div>
        <div class="col text-right">
          <small class="text-muted">30-04-2018</small>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3 class="card-title">Jumlah Total</h3>
              <h4>Rp 500.000</h4>
            </div>
            <div class="col text-right">
              <div class="dropdown">
                <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Detail Pembelian
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <table class="table table-sm" style="text-align: center">
                    <thead>
                      <tr>
                        <th scope="col"> </th>
                        <th scope="col">Nama</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Total</th>                
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="align-middle"><img src="assets/vendors/onetech/images/shopping_cart.jpg"></td>
                        <td class="align-middle">Barang A</td>
                        <td class="align-middle">5</td>
                        <td class="align-middle">5000</td>
                        <td class="align-middle">25000</td>                                            
                      </tr>
                      <tr>
                        <td class="align-middle"><img src="assets/vendors/onetech/images/shopping_cart.jpg"></td>
                        <td class="align-middle">Barang B</td>
                        <td class="align-middle">5</td>
                        <td class="align-middle">5000</td>
                        <td class="align-middle">25000</td>                                            
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row align-items-center">
            <div class="col-lg-3">
              <img src="assets/images/JNE.jpg" class="img-thumbnail rounded-circle" alt="">
            </div>
            <div class="col align-middle">
              <h5>Harga Ongkir</h5>
              <p>Rp 10.000</p>
            </div>
          </div>
          <div class="text-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Sudah Dikonfirmasi
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
